*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-image: url("../img/wall.png");
   .title-font{
    font-family: "Edu TAS Beginner", cursive;
  ;
}

   }


main{
    padding-top: 4rem;
    background-image: url("../img/cork.png");
    
}

.card{
    border-radius: 0;
   
    .card-img-top{
       border-radius: 0;
        
        
       
        
    }
}
