*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-image: url("../img/wall.png");
   .title-font{
    font-family: "Edu TAS Beginner", cursive;
  
    }

}

h1{
    font-size: 5rem;
}

main{
    padding-top: 4rem;
    background-image: url("../img/cork.png");
    

    .container{
        width:70%;
    }
}

.pin{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  
  
  
}

.card{
    border-radius: 0;
   padding: 0% 1rem;
   margin-bottom: 2rem;
   
   
    .card-img-top{
       border-radius: 0;
       
    }
    
}
.card-text{
    font-family: "Edu TAS Beginner", cursive;
    font-size: larger;
}


.card:hover{
    rotate: -30deg;
    scale: 1.15;
    padding: 1rem;
    position: relative;
    overflow: visible;
    
   
}

 .card:hover .pin{
    display: none;
}